.container{
    border:;
    width: 980px;
    height:768px;
    margin:auto;
}


#top{
    width: 100%;
    height:auto;
    border:2px solid re;}


#logo{
    width:180px ;
    height:100px ;
    border:
	padding-left:500px;
}



.menu li{

    display:inline-block;
	padding:15px;
	
	font-family:'Source Serif Pro', serif;
        font-style: ;
        font-size: 16px;
		color: #253A44;
	
}
.menu li{
    position:relative; 
    float:left; 
    border-right:1px solid #c0c0c0; 
    }

    .menu li a{color:#333; text-decoration:none; padding:5px 10px; display:block;}
 
.menu li a:hover{
background:#333; 
color:#fff; 
-moz-box-shadow:0 3px 10px 0 #CCC; 
-webkit-box-shadow:0 3px 10px 0 #ccc; 
text-shadow:0px 0px 5px #fff; 
}

.menu li  ul{
    position:absolute; 
    top:25px; 
    left:0;
    background-color:#fff; 
    display:none;
    }

    .menu li:hover ul, .menu li.over ul{display:block;}


.menu li ul li{
border:1px solid #c0c0c0; 
display:block; 
width:150px;
}

.menu{
    list-style:none; 
    border:1px solid transparent; 
    float:right;
    margin-right: 0px;
    margin-top: -80px;
}


 p{
		font-family:'Source Serif Pro', serif;
        font-style:;
        font-size: 18px;
		color: #253A44;
		text-align: justify; 
    }
	

	
h3{
font-family:'Source Serif Pro', serif;
        font-style: ;
        font-size: 18px;
		color: #b80e00;
   
}


* { margin: 0; padding: 0; }

 .slider {
    width: 980px;
    height:300px;
    margin: auto;
    margin-top: 20px;
	margin-bottom: 20px;
 }

.slider img {
margin: auto;
height: 100%;
width: 100%;
vertical-align: top;
} 


.medium{
	border:2px solid #f5f5f5;
	width:980px;
	height: auto;
	margin-top:20px;
	margin-bottom:20px;
}

.medium h3{
float:right;
margin-right:380px;
}

.quad1{
border:2px solid #f5f5f5;
width:310px;
height:220px;
margin-left:-19px;		
}

.quad2{
border:2px solid #f5f5f5;
width:310px;
height:220px;
margin:auto;	
margin-top:-223px;
margin-right:301px;	
}

.quad3{
border:2px solid #f5f5f5;
width:310px;
height:220px;
float:right;
margin-top:-223px;
margin-right:-23px;			
}

.img1{
	border:2px solid gre;
	width:120px;
height:80px;
margin-left:180px ; 
margin-top : -80px;
	
}


.img2{
	border:2px solid r;
	width:120px;
height:80px;
margin-left:180px ; 
margin-top : -80px;
	
}


.img3{
	border:2px solid yell;
	width:120px;
height:80px;
margin-left:180px ; 
margin-top :-78px;
	
}
.conteudo p{
	font-family:'Source Serif Pro', serif;
        font-style:;
        font-size: 14px;
		color: #253A44;
		text-align: justify; 
	
}


.fid_one{
	border:2px solid gre;
	width: 320px;
	height: 180px;
}

.fid_one a{
	float:right;
	margin-top:-20px;
	margin-right : 10px;
	font-family:'Source Serif Pro', serif;
	color: #b80e00;
	
}

.conteudo{
	width: 920px;
	float:auto;
	border:2px solid bla;
	margin-left:28px;
	
}

.imagem{
	width: 320px;
	height: 180px;
border:2px solid blue;


}
	
	




.end{
	border: ;
	width :650px;
	height: 180px;
	margin-top : 30px;
}

.botom_left{
	border:;
	width :320px;
	height: 180px;
	margin:auto;
	margin-top : -184px;
}

.rd{
	width:172px;
	border:;
	margin:auto;
	margin-top:10px;	
}
.cop{margin:auto;}

.botom{
	border: ;
	width :980px;
	margin-top : 10px;
}